<!-- language: html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Commande Form</title>
</head>
<body>
<h1>Commande Form</h1>
<form th:action="@{/commande}" method="post" th:object="${commande}">
<div>
<label for="chambre">Chambre :</label>
<input type="text" th:field="*{chambre}" />
<span style="color:red" th:if="${#fields.hasErrors('chambre')}" th:errors="*{chambre}"></span>
</div>
<div>
<label for="nombreDeRepas">Nombre de repas :</label>
<input type="text" th:field="*{nombreDeRepas}" /><br />
<span  style="color:red" th:if="${#fields.hasErrors('nombreDeRepas')}" th:errors="*{nombreDeRepas}"></span>
</div>
<div>
<label for="heure">Heure de livraison (entre 6h et 10h) :</label>
<input type="time" th:field="*{heure}" required /><br />
<span style="color:red" th:if="${#fields.hasErrors('heure')}" th:errors="*{heure}"></span>
</div>
<label for="commentaire">Commentaire :</label> <br />
<textarea th:field="*{commentaires}" rows="10" cols="50"></textarea>
<br />
<input type="submit" value="Envoyer" />
</form>
</body>
</html>